@font-face {
  font-family: 'MyWebFont';
  src: url('font/Rounded_Elegance.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('font/Rounded_Elegance.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  }


body {
    background-color: black;
    color: white;
    font-family: 'MyWebFont';
    font-size: 20px;
}


.frontpage-class {
    font-size: 1.5em;
}

.text-class {
    font-size: 1.2em;
    margin: auto;
}

.bild-class {
    font-size: 1.3em;
}

.list-class {
    font-size: 1.8em;
}

.img_hor {
    margin: 0 auto;
    display: block;
    padding-left: 0.3em;
}

.links-class {
    font-size: 0.8em;
}
